body {
    background-color: black;
}

.allcontainer {
    width: 1100px;
    margin: auto;
    background-color: blanchedalmond;
}

.image.container {
    width: 1100px;
    height: 200px;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: #4EA0FF;
    background-repeat: repeat-x;
}

.title.container {
    width: 200px;
    height: 230px;
    padding-top: 130px;

}

.title.container img {
    width: 100%;
}

#titolo1 {
    font-size: 40px;
}

.sottotitolo, #thebooleaner {
    font-size: 20px;
}

.sottotitolo {
    color: grey;
}

#thebooleaner {
    color: #4EA0FF;
}

.immagini.tim {
    margin-top: 20px;
}

.yellow {
    background-color: yellow;

}

ul {
    padding-left: 15px;
}

.row {
    display: inline-block;
    width: 30%;
}

.main.row {
    background-color: #ACDEEA;
}

.first.row, .third.row {
    background-color: #B1E5F2;
}

#table {
    margin-top: 30px;
}

.photo {
    position: relative;
}

.lorem-ipsum-dolor {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

.photo.container2 {
    margin-top: 10px;
}




